1. https://towardsdatascience.com/anomaly-detection-with-time-series-forecasting-c34c6d04b24a
2. https://www.analyticsvidhya.com/blog/2021/08/univariate-time-series-anomaly-detection-using-arima-model/
3. https://www.kaggle.com/kevinarvai/outlier-detection-practice-uni-multivariate
4. https://www.kaggle.com/mukulkirti/outlier-or-anomalies-detection-and-removal/
5. https://machinelearningmastery.com/one-class-classification-algorithms/
6. https://machinelearningmastery.com/how-to-develop-lstm-models-for-time-series-forecasting/
7. https://statisticsbyjim.com/basics/outliers/
8. https://machinelearningmastery.com/model-based-outlier-detection-and-removal-in-python/


**READ DATA**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
path = "/content/drive/My Drive/data/realKnownCause/nyc_taxi.xlsx"
data_Taxi = pd.read_excel(path)
data_Taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  10320 non-null  object
 1   value      10320 non-null  int64
 2   Anomaly    10320 non-null  int64
dtypes: int64(2), object(1)
memory usage: 242.0+ KB

In [ ]:
data_Taxi.head()

             timestamp  value  Anomaly
0  2014-07-01 00:00:00  10844        0
1  2014-07-01 00:30:00   8127        0
2  2014-07-01 01:00:00   6210        0
3  2014-07-01 01:30:00   4656        0
4  2014-07-01 02:00:00   3820        0

**Fetch only data values column to apply anomaly detection algorithms**

In [ ]:
df_data = data_Taxi["value"]

In [ ]:
df_data.head()

0    10844
1     8127
2     6210
3     4656
4     3820
Name: value, dtype: int64

**Z-Score : Base Model for one dimensional point outliers**

1. https://medium.com/@stevernewman/eliminating-outliers-in-python-with-z-scores-dd72ca5d4ead

In [ ]:
mean = np.mean(df_data)
std = np.std(df_data)
print(f"Mean {mean}, Standard Deviation {std}")

Mean 15137.569379844961, Standard Deviation 6939.159584040666

In [ ]:
outliers = []
for i in df_data:
  z_score = abs((i-mean)/std) 
  #print(z_score)
  if z_score > 3:
    print(f"number {i} :  z-score {z_score}")
    outliers.append(i)

print(outliers)

number 39197 :  z-score 3.4671966149170554
[39197]

**IQR and Box-and-Whiskerâ€™s plot** 

https://blog.clairvoyantsoft.com/mlmuse-approaches-to-outlier-detection-part-1-bd4c8faa4f24

**ARIMA Model**